@font-face {
    font-family: roboto regular;
    src: url(font/roboto/Roboto-Light.ttf);
}
@font-face {
    font-family: roboto-bold;
    src: url(font/roboto/Roboto-Bold.ttf);
}
.top-para{
    font-family: roboto regular;
    font-size: 11px;

}
.nav-anchor{
    padding-right:40px ;
    text-align: center;
    text-decoration: none;
    font-family: roboto regular;
    
}
.nav-button{
    padding: 20px 20px;
    font-family: roboto regular;
    font-size: 16px;
    
}
.nav-button:hover{
    background-color:#ffd400 ;
    color: #701e7d;
    font-weight: bold;
}

.buttom-para{
    text-align: center;
    color: #701e7d ;
    margin-top: 10px;
}

.card-heading{
    padding-top: 20px;
}
.card-para{
    font-family: roboto regular;
    font-size: 15px;
    color: #343434;
    padding-top: 10px;

}
.card-img:hover{
    scale: calc(1.05);

}
.card-img-4{
    padding-bottom: 20px;
}
.ways-to-bank-heading{
    padding-top: 30px;
}
.ways-heading{
    font-family: roboto-bold;
    font-size: 19px;
    color: white;
    font-weight: bold;
}
.ways-para{
    font-family: roboto regular;
    font-size: 13px;
}
.way-img:hover{
    background-color: #ffd400;

}
.Award-heading{
    padding-top: 30px;
}
.award-img{
    padding-top: 20px;
}
.service-container{
    padding-top: 30px;
}