@font-face {
    font-family: roboto regular;
    src: url(font/roboto/Roboto-Light.ttf);
}
.top-para{
    font-family: roboto regular;
    font-size: 11px;

}
.nav-anchor{
    padding-right:40px ;
    text-align: center;
    text-decoration: none;
    font-family: roboto regular;
    
}
.nav-button{
    padding: 20px 20px;
    font-family: roboto regular;
    font-size: 16px;
    
}
.nav-button:hover{
    background-color:#ffd400 ;
    color: #701e7d;
    font-weight: bold;
}

.buttom-para{
    text-align: center;
    color: #701e7d ;
    margin-top: 10px;
}
.card-container{
    display: flex;
    justify-content: space-around;
    gap: 5;
    align-items: center;

}
